node_modules
build
.DS_Store
.env
cache

artifacts
flat
out

test-blockchain/genesis.json
test-blockchain/geth
test-blockchain/history
test-blockchain/data
test-blockchain/start.sh

contractAddresses.json

tenderly.yaml
